
body {
    font-family: sans-serif;
    border: 5px solid #0000ffdb;
    padding: 10px;
}

.product-container .product .heading {
    text-align: center;
    text-transform: uppercase;
    height: 80px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}

.product-container .product .heading h2 {
    background: green;
    height: 60px;
}

.product-container .product .product-iamge {
    margin-bottom: 20px;
}

.product-container .product .product-iamge img {
    width: 300px;
    height: auto;
}

.product-container .product .product-price {
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 20px;
}

.product-container .product .shipping {
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    background: #695bd1;
    padding: 20px;
}

.product-container  .product-ifo .product-heading {
    text-transform: capitalize;   
    margin-bottom: 20px;
}

/* .product-container .product .product-ifo {
    margin-bottom: 20px;
} */

.product-container .product .product-ifo ul {
    list-style-type: circle;
    background: #902b90;
    width: 300px;
}

.product-container .product .product-ifo ul li {
    margin-bottom: 8px;
    
} 

.product-container .product .product-ifo ul li a {
    color: #fff;
}

.product-container .product .product-ifo ul li:last-child {
    margin-bottom: 0;
}

.product-container .by a{
    background: skyblue; 
    text-decoration: none;
    padding: 2px;
    color: #fff;
    transition: 0.1s;
    
} 


.product-container .by a:link {
    color: maroon;
}

.product-container .by a:visited {
    background: skyblue;
    
}

.product-container .by a:hover {
    background: #2a4c5a;
    color: #04ea8a;
}

.product-container .by a:active {
    color: #00a2ff;
    background: black;
}


 
